/* stylesCSS/card.css */
.card {
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  
  
  .card-image {
    max-width: 100%;
    height: auto;
  }
  
  .card-price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .cotizar-button {
 
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cotizar-button:hover {
    background-color: #2980b9;
  }
  
 
  
  
 /* stylesCSS/botonesColor.css */

span {
  margin: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10%;
  
}

  

  /* stylesCSS/botonesColor.css */

span.red {
  background: linear-gradient(222deg, #e74c3c 40%, #1d1d1d 60%);
  color: #fff;
}

span.green {
  background: linear-gradient(222deg, #6e6e6e 40%, #131313 60%);
  color: #fff;
}

span.blue {
  background: linear-gradient(222deg, #ffffff 40%, #5f5f5f 60%);
  color: #fff;
}
