body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1028%26quot%3b)' fill='none'%3e%3cpath d='M -16.10820766089364%2c159 C 127.89%2c216 415.89%2c437.2 703.8917923391064%2c444 C 991.89%2c450.8 1135.89%2c196.8 1423.8917923391064%2c193 C 1711.89%2c189.2 2140.67%2c413.8 2143.8917923391064%2c425 C 2147.11%2c436.2 1580.78%2c284.2 1440%2c249' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -384.1941924006604%2c139 C -240.19%2c167.4 47.81%2c284.4 335.8058075993396%2c281 C 623.81%2c277.6 767.81%2c99.6 1055.8058075993395%2c122 C 1343.81%2c144.4 1698.97%2c375.4 1775.8058075993395%2c393 C 1852.64%2c410.6 1507.16%2c246.6 1440%2c210' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1028'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.contenedor-banner {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Ajusta el espacio interno del contenedor */
}

.description-container {
  width: 80%;
  margin: auto;
}

.navbar-toggler-ico{
  background-color: #0056b3;
}

.description-container p {
  text-align:justify;
  font-weight: 600;
  font-size: 18px;
  color: black;
  padding: 15px;
}

.card {
 background-color: transparent;
 
  text-align: center;
  width: 70%; /* Ajusta el ancho según tus necesidades */
  margin: auto;
  margin-top: 20px; /* Espaciado superior para separar de la descripción */  border: none;
 
  padding: 20px; /* Espaciado interno */
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card .card-price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card .cotizar-button {
  background-color:#004cac;
  color: #fff;
  border: none;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card .cotizar-button:hover {
  background-color: #0056b3;
}



h2{
  color:#004cac;
  font-weight: 900;
   
 
}

h6{
  margin-top: 20px;
  font-size: 8px;
}

strong{
  color:white;
  font-size: 25px;
  margin: 0px 5px;
  
}
 

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .container {
      padding: 10px;
      display: flex;
      flex-direction: column;
  }
  
  .contenedor-banner{
    display: flex;
    flex-direction: column;
  }

  .footer{
    display: flex;
    flex-direction: column;
  }

  .container-footer{
    display: flex;
    flex-direction: column;
  }

  .description-container {
      width: 100%;
  }

  .card {
      width: 100%;
  }

  .card .cotizar-button {
      width: 100%;
  }
}


 